.*
!.gitignore
!.idea_template
!.htaccess

.idea
*.iml
*.orig
*.mo
*.apk

*/bin/
*/gen/
*/out/

build/

com_crashlytics_export_strings.xml
backup_myaio_db*.sql.gz
configVarsLocal.php
configVarsPuppet.php
local.properties
.vagrant
